/* You can add global styles to this file, and also import other style files */
div{text-align: left; }
h1, h2, h3 { margin: 0px; padding: 0px; }
h3{ background-color: lightgray;}
.boxed { border: 1px solid darkgray;}
ul{ list-style: none; 
    text-align: left;
    padding-left:10px;
    margin: 5px 0px 5px 0px; }
li{ padding: 0px; 

}