.scroll {
    height: 200px;
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color:black
}     
a:visited {color:black;}

li {
    cursor: pointer;
}