
            <form [formGroup]="magazineForm" (ngSubmit)="submitForm()">
              <span style="color: red" [hidden]="magazineForm.controls.fullName.valid || magazineForm.controls.fullName.untouched"> Please enter your name here!<br> </span>

              FullName: <br>
              <input formControlName="fullName" type="text" /> <br>
              Valid: {{magazineForm.controls.fullName.valid}}<br>
              Touched : {{magazineForm.controls.fullName.touched}}<br>
              Dirty: {{magazineForm.controls.fullName.dirty}}<br>

              <select formControlName="selectedEdition">
                <option *ngFor="let e of editions" [ngValue]="e">
                    {{e.editionName}}
                </option>
              </select><hr>

              Shipping Option:<br>

              <input type="radio" formControlName="selectedShipping" value="GROUND" /> Ground
              <input type="radio" [formControl]="selectedShipping" value="AIR" /> Air  <hr>

              <input type="checkbox" formControlName="acceptPolicy"  />
              I accept the terms and conditions <hr>

              Price:<br>
              {{magazineForm.value.selectedEdition.price}}
              <hr>

              <button [disabled]="magazineForm.invalid" type="submit"> Purchase </button>




            </form>
