<!DOCTYPE html>
<html>
<head>
	<title>Home Page View</title>
	<script type="text/javascript">

			function start(){
				var name ={};
				var request = new XMLHttpRequest();
				request.open('GET', 'https://api.github.com/users/chidelmun',true);
				request.send(null);

				request.onreadystatechange = function(){
					if (request.readyState == 4 && request.status == 200) {
						name = JSON.parse(request.responseText);
						document.getElementById('name').innerHTML = name.login;
						var url = document.createElement('li');
						url.innerHTML = name.bio;
						document.getElementById('lst').innerHTML = name.bio;


					}
				}
				//alert("Request");
			}
			window.onload = function(){
				document.getElementById('btn').addEventListener('click', start);

				document.getElementById('followers').addEventListener('click',function(){
					var follow = [];
					var req2 = new XMLHttpRequest();
					req2.open('GET','https://api.github.com/users/chidelmun/followers',true);
					req2.send(null);
					req2.onreadystatechange = function(){
						if (req2.readyState == 4 && req2.status == 200) {
							var followers = JSON.parse(req2.responseText);
							followers.forEach(function(follower){
								follow.push(follower.login);
								//alert(follower.login);
								document.getElementById('ff').innerHTML += "<li>" + follower.login + "</li>";
							});	
						}
					}
				});

			}

			function get(url){
				return new Promise(function(resolve, reject){
					var req = new XMLHttpRequest();
					req.open('GET', '', true);
				});
			}

	</script>
</head>
<body>

	<h2>Fetch info from Github Account:  <strong id="name"><%= name %> </strong></h2>
	<ul id="lst">
		
	</ul>



	<button id="btn" >Click to update Name</button>
	<button id="followers" > Click to get Followers</button>

	<hr>
	<p>Here are my followers</p>
	<ul id="ff">
		
	</ul>
</body>
</html>