<div class='boxed'>
  <h3>Todo Item</h3>
  <table>
    <tr>
      <td class=right >Id:</td>
      <td>{{item.id}}</td>
    </tr>
    <tr>
      <td class=right >Title:</td>
      <td><input type=text [(ngModel)]='item.title' /></td>
    </tr>
    <tr>
      <td class=right >Done:</td>
      <td><input type=checkbox [(ngModel)]='item.done' /></td>
    </tr>
    <tr>
      <td class=right >Due:</td>
      <td><input type=text [(ngModel)]='item.due' /></td>
    </tr>
    <tr>
      <td class=right >Desc:</td>
      <td><textarea cols="30" rows="5" spellcheck=false [(ngModel)]='item.description'></textarea>
      </td>
    </tr>
  </table>
  <button (click)="onDelete()">Delete</button>
  <button (click)="onSave()">Save</button>
  <button (click)="onCancel()">Cancel</button>
</div>